<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Association Miner</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
<div align="center">
    <div id="heading">
        <img id="logo" src="{{ url_for('static', filename='logo.png') }}" /><h1>AutoMiner</h1>
    </div>
    <div id="info">
        <div id="info-text">
            <h2>Usage Instructions</h2>
            <p>Welcome to AutoMiner! This app harnesses the power of data mining to discover patterns in transaction data. You can use this app to apply these methods to your own data by uploading a data file and tweaking the settings on the right.</p>
            <h3>Form Fields</h3>
            <p><strong>File </strong>This field is for uploading your own data file. The file must have one transaction per line, with items separated by semicolons. The file must also conform to UTF-8 encoding (meaning some special characters may not be permitted).</p>
            <p><strong>Minimum Support </strong>This field refers to the minimum relative support, which refers to how often items in a pattern co-occur in transactions. This can be a value from 0 to 1. Increasing this value filters out more patterns, resulting in only the most popular ones being mined.</p>
            <p><strong>Minimum Confidence </strong>Confidence is a value that describes how often association rules are found to be true. In other words, if item A occurs in a transaction, how likely is it that item B will also occur? This can be a value from 0 to 1. Increasing this value results in fewer patterns being mined, since it will only retain the most confident rules.</p>
            <h3>Results</h3>
            <p>Once you submit the form, the app will begin mining patterns from your data. Once it is finished, it will automatically download the results file. The first line of this file contains the name of the data file that you submitted, the values you specified for support and confidence, and the execution time in seconds.</p>
            <p>After this line, the results file contains all of the prominent patterns that were mined based on your settings. Each line contains a pattern (which consists of one or more items separated by semicolons) and the number of times it appears in the data file (also known as absolute support). Below is a sample of what these lines may look like:</p>
            <p>[150, 'Bread; Milk; Eggs']</p>
        </div>
    </div>
    <div id="right_container">
        <div id="form">
            <form method=post enctype=multipart/form-data>
                {{ form.hidden_tag() }}
                <table class="formTable">
                    <tr>
                        <td class="label">{{ form.transactions_file.label }}</td>
                        <td class="empty"></td>
                        <td class="input">
                            {{ form.transactions_file }}
                            <button id="trans_file_nice_button" class="nice_button" name="trans_file_nice_button">Choose File</button>
                            <span id="selected_file_name"></span>
                        </td>
                    </tr>
                    <tr class="empty"></tr>
                    <tr>
                        <td class="label">{{ form.support.label }}</td>
                        <td class="empty"></td>
                        <td class="input">{{ form.support(size=10) }}</td>
                        <td class="error">
                            {% for error in form.support.errors %}
                            <span class="formError">[{{ error }}]</span><br>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr class="empty"></tr>
                    <tr>
                        <td class="label">{{ form.confidence.label }}</td>
                        <td class="empty"></td>
                        <td class="input">{{ form.confidence(size=10) }}</td>
                        <td class="error">
                            {% for error in form.confidence.errors %}
                            <span class="formError">[{{ error }}]</span><br>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                <p id="uploadButton">{{ form.submit(class_="nice_button") }}</p>
            </form>
        </div>
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
